
<h1>Questions</h1>
<h2><%= Question.title %></h2>

<form method="post" action="/submit">
    <label>Options</label><br>
        <input type="radio" name="text" value="<%= Question.optionA %>"/><%= Question.optionA %>
        <input type="radio" name="text" value="<%= Question.optionB %>"/><%= Question.optionB %>
        <input type="radio" name="text" value="<%= Question.optionC %>"/><%= Question.optionC %>
        <input type="radio" name="text" value="<%= Question.optionD %>"/><%= Question.optionD %>
        <input type="radio" name="text" value="<%= Question.optionE %>"/><%= Question.optionE %>
        <br>
    <input type="submit" value="Submit" />
</form>

